# Raw data
data/raw/*
!data/raw/README.md

# Intermediate data
data/interim/*

# Local QGIS working data
qgis/*.gpkg
qgis/*.tif
qgis/*.tif.aux.xml

# QGIS temporary files
*.gpkg-wal
*.gpkg-shm
*.qgz~

# Python temporary files
__pycache__/
.ipynb_checkpoints/
*.pyc

# Windows
Thumbs.db
